.ion-header{
  margin-left: 80px;
  }
ion-card{
  margin-left: 20px;
  margin-right: 20px;
    border-radius: 5px;
  }
img{
  width: 300px;
  height: 320px;
  margin-left: 35px;
}
ion-card-title{
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;

}
ion-card-subtitle{
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;

}
.ion-btn-trash{
  margin-left: 130px;
  margin-bottom: 10px;
}
ion-button{
  margin-left: 20px;
  margin-bottom: 10px;
}
