ion-avatar{
  margin-left: 100px;
  width: 150px;
  height: 150px;
}
ion-card {
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(165, 165, 165);
}
.ion-margin-pro{
  margin-top: 30px;
}
ion-card-title{
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  text-align: center;
}
ion-card-subtitle{
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  text-align: center;
}
.ion-margin-view{
  margin-top: 10px;
}
.ion-margin-name{
  margin-top: 50px;
}
.ion-margin-btn{
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 30px;
}
.ion-header{
  margin-left: 65px;
  }
