#fileInput{
  position: absolute;
  opacity: 0;
}
ion-avatar{
  margin-left: 120px;
  width: 150px;
  height: 150px;
}
ion-card {
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px rgb(165, 165, 165);
}
.ion-btn-add{
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
.ion-btn-file{
  padding-bottom: 5px;
  margin-left: 110px;
  margin-right: 110px;
}
.ion-margin-pro{
  margin-top: 40px;
}
